html {
	font-family: 'Gorditas';
	color: white;
	width:520px;
	margin:auto;
	background-image:url('http://rosalienebacchus.files.wordpress.com/2012/04/planet-earth-from-space.jpg') ;
}
#game {
	width:510px;
	margin:auto;
}
#stage{
    /*background-color: #006699;*/
	margin:auto;
}
footer {
	font-size:80%;
}